<div class="row">
  <div class="container-fluid px-4">
    <div class="card" id="main-content">
      <div class="card-header" style="display: inline-block;">
        <mat-select #matSelect [formControl]="listTypesCtrl" style="float: left; width: 120px; margin-left: 12px;">
          @for (type of movieListTypes; track type) {
            <mat-option [value]="type">{{ type.text }}</mat-option>
          }
        </mat-select>
        <form id="searchBox" style="float: right; min-width: 400px;">
          <div class="input-group no-border">
            <input type="text" placeholder="Search movies" class="form-control" [formControl]="searchCtrl">
            <div class="input-group-append">
              <div class="input-group-text" style="padding-right: 12px;">
                <i class="nc-icon nc-zoom-split"></i>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-body" style="overflow: scroll;">
        <mat-grid-list cols="5" rowHeight="3:4">
          @for (item of dataSource.data; track $index) {
            <mat-grid-tile class="media-item-container" (click)="onItemClick(item)">
              <img mat-card-image src="{{item.poster}}" alt="">
              <div class="media-info-overlay">
                <div class="media-info">
                  <h2>{{ item.title }}</h2>
                  <button (click)="onItemClick(item)" mat-flat-button style="font-size: small">View details</button>
                </div>
              </div>
            </mat-grid-tile>
          }
        </mat-grid-list>
        <mat-paginator [length]="itemsCount" [pageSize]="20" [hidePageSize]="true" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>
