<div class="sidebar-wrapper">
  <div class="logo">
    <a href="https://film-fast-9e221.web.app/" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="../../../../assets/img/angular2-logo.png" alt="">
      </div>
    </a>
    <a href="https://film-fast-9e221.web.app/" class="simple-text logo-normal">
      Film Fast
    </a>
  </div>
  <ul class="nav">
    @for (menuItem of menuItems; track menuItem) {
      <li routerLinkActive="active" class="{{menuItem.className}}">
        <a [routerLink]="[menuItem.path]" style="display: flex; align-items: center;">
          <mat-icon style="font-size: 36px; width: 36px; height: 36px; margin-right: 12px">
            {{ menuItem.icon }}
          </mat-icon>
          {{ menuItem.title }}
        </a>
      </li>
    }
  </ul>
</div>
